<!DOCTYPE html>
<html>

<form action="/reset-password" method="POST">
    <input type="password" name="newPassword" placeholder="Enter new password" required>
    <input type="hidden" name="token" value="{{token}}">
    <button type="submit">Reset Password</button>
</form>



</html>